{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>A Lucas Vest é um projeto de educação sem fins lucrativos,  criado em 1987, por um grupo de estudantes de Engenharia da Escola Politécnica da USP. A proposta era de oferecer oportunidade a pessoas em situação de vulnerabilidade de acessar o ensino superior.

Hoje, com três unidades – Lapa, Tatuapé e Santo Amaro -, já atendemos mais de 170 mil alunos, a maioria vinda do ensino público. O resultado é de mais de 60% de aprovação nas principais universidades do país.

Nosso projeto pedagógico visa à formação que vai muito além da simples preparação para os exames vestibulares, mas também para a realidade encontrada no meio universitário e no mundo do trabalho. Tal projeto é potencializado por meio de oficinas pedagógicas e culturais: palestras, vivências, debates, cinedebates, estudos do meio e outras atividades científicas, artísticas e sociais, que buscam suprir eventuais deficiências da formação escolar do estudante e incluí-lo no universo da cultura.

Um projeto que tem como objetivo formar cidadãos críticos e atuantes na sociedade. Promovemos uma educação que contribui para fortalecer atitudes, valores, comportamentos e, sobretudo, um ensino que não discrimina, promove o diálogo, a solidariedade, a tolerância e o respeito para com o próximo.</p>

{% endblock %}
